{{ define "users-pagination" -}}
<nav class="bg-white px-4 py-3 flex items-center justify-end border-t border-gray-200 border-b">
  <div class="sm:block">
    <p class="text-sm text-gray-500">
      <span class="font-medium">1</span>
      -
      <span class="font-medium">10</span>
      of
      <span class="font-medium">20</span>
    </p>
  </div>

  <!-- Rows per page dropdown -->
  <div class="ml-8 flex items-center">
    <label for="location" class="text-sm font-small text-gray-500">Rows per Page</label>
    <div class="flex-1 ml-4">
      <select id="location" name="location"
        class="mt-1 block w-full pl-1  py-2 text-base ring-1 ring-gray-300 border-gray-500 text-gray-500 focus:outline-none sm:text-sm rounded-md">
      <option selected>50</option>
      <option>100</option>
      <option>250</option>
    </select>
    </div>
  </div>

  <div class="flex sm:justify-end ml-8">
    <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
      <span class="sr-only">Previous</span>
      <!-- Heroicon name: solid/chevron-left -->
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
    </a>
    <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
      <span class="sr-only">Next</span>
      <!-- Heroicon name: solid/chevron-right -->
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>
    </a>
  </div>
</nav>
{{ end }}
