{{- define "project-add-card" }}
<div x-cloak x-data="{open: false}">
  <!-- Add project card -->
  <div
    @click="open = true"
    class="flex flex-col justify-center items-center border-2 border-gray-800 px-8 py-10 h-56 text-gray-800 rounded-lg cursor-pointer hover:shadow-[4px_8px_0_rgba(0,0,0,0.9)]"
  >
    <!-- Add icon -->
    <svg class="h-12 w-12 stroke-2" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
      <path strokeLinecap="round" strokeLinejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
    <span class="mt-4 font-semibold text-2xl">Create a Project</span>
  </div>
  <!-- Slide side panel -->
  <div class="relative z-10">
    <div
      x-show="open"
      class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full"
      x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
      x-transition:enter-start="translate-x-full"
      x-transition:enter-end="translate-x-0"
      x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
      x-transition:leave-start="translate-x-0"
      x-transition:leave-end="translate-x-full"
    >
      <div class="pointer-events-auto w-screen">
        <div class="h-full bg-indigo-100 py-20">
          <div class="px-6 sm:px-20">
            <div class="flex items-center justify-between">
              <h2 class="text-xl md:text-3xl text-gray-900">Create a project</h2>
              <div class="ml-3 flex h-7 items-center">
                <button
                  @click="open = false"
                  type="button" class="relative rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                >
                  <span class="absolute -inset-2.5"></span>
                  <span class="sr-only">Close panel</span>
                  <svg class="h-8 w-8 md:h-10 md:w-10" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="px-6 sm:px-20 py-10">
            <!-- content -->
            {{ template "create-project-form" . }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{- end }}
