<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link rel="stylesheet" href="/css/output.css">
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"
  ></script>
</head>
<body>

  <nav class="px-8 py-6 border-b-2 border-gray-900">
    <h1 class="text-xl text-gray-900 font-medium">Capturoo</h1>
  </nav>

  <main class="max-w-4xl xl:max-w-7xl mx-auto text-gray-800 px-6 py-10">
    <h2 class="mt-10 text-2xl font-semibold">Recent projects</h2>

    <ul class="mt-14 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {{ template "project-add-card" . }}
      {{ template "selection-card" . }}
    </ul>
  </main>
</body>
</html>
